<nb-card>
    <nb-card-header style="display: flex; justify-content: center;">
        <p style="font-size: large; font-weight: 600; color: blue;">Exercício 4</p>
    </nb-card-header>
    <nb-card-body>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label style="font-size: large; font-weight: 600; color: rgb(35, 2, 136); justify-self: center;" for="nome">Nome:</label>
            <br>
            <input id="pao" type="text" nbInput status="basic"  placeholder="Primeiro NOME" [(ngModel)]="nome">
            <br>
            <br>
            <label style="font-size: large; font-weight: 600; color: rgb(35, 2, 136); justify-self: center;" for="nascimento" >Data de Nascimento:</label>
            <br>
            <input id="nascimento" status="info" nbInput placeholder="Exemplo: 25-12-1986" [nbDatepicker]="dateTimePicker" [(ngModel)]="nascimento">
                <nb-datepicker #dateTimePicker format="dd-MM-yyyy"></nb-datepicker>
            <br><br><br>
        <button style="font-size: x-large; font-weight: 700;" nbButton status="primary" type="button" (click)="calcularDiasDeVida()">Calcular DIAS VIVIDOS</button>
        <br>
        <br>
    </div>
    <br>
    <br>

    <div style="display: flex; justify-content: center " *ngIf="totalDeDias !== null">
        <button nbButton status="basic"(click)="limpar()">
            <p style="font-size: x-large; font-weight: 600; color: red;">Total de dias desde o aniversário: {{ totalDeDias }} dias.</p>
        </button>
    </div>

    </nb-card-body>
</nb-card>