<!-- <p>exercicio4 works!</p>
<nb-card>
    <nb-card-header style="display: flex; justify-content: center;">
        <p style="font-size: large; font-weight: 600; color: blue;">Exercício 4</p>
    </nb-card-header>
    <nb-card-body>
        
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label style="font-size: large; font-weight: 600; color: rgb(35, 2, 136); justify-self: center;" for="nome">Nome:</label>
            <br>
            <input id="pao" type="text" nbInput status="basic" placeholder="Digite o seu NOME" [(ngModel)]="nome">
            <br>
            <label style="font-size: large; font-weight: 600; color: rgb(35, 2, 136); justify-self: center;" for="nascimento">Data de Nascimento:</label>
            <br>
            <input id="nascimento" type="date" nbInput status="basic" placeholder="Exemplo: 300" [(ngModel)]="nascimento">
            <br>
        <button nbButton status="primary" type="button" (click)="calcularDiasDeVida()">Calcular ARRECADAÇÃO</button>
        <br>
        <button nbButton status="primary" type="button" (click)="calcularAnosBisextos()">Calcular INVESTIMENTO</button>
    </div>
    <br>
    <br>

    <div style="display: flex; justify-content: center " *ngIf="resultadoA !== null">
        <button nbButton status="basic"(click)="limpar()">
            <p style="font-size: x-large; font-weight: 600; color: red;">Resultado: R$: {{ resultadoA }} Faturado no dia de hoje.</p>
        </button>
    </div>
    <br>
    <div style="display: flex; justify-content: center; color: yellow; " *ngIf="resultadoI !== null">
        <button nbButton status="basic"(click)="limparI()">
            <p style="font-size: x-large; font-weight: 600; color: BLUE;">Resultado: R$: {{ resultadoI }} A ser Investido.</p>
        </button>
    </div>

    </nb-card-body>
</nb-card> -->